* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a0a0f;
    overflow: hidden;
}

canvas {
    display: block;
}

#ui {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
    
    user-select: none;
}

#healthContainer {
    width: 250px;
    height: 25px;
    border: 2px solid white;
    background: red;
}

#healthBar {
    width: 100%;
    height: 100%;
    background: lime;
    transition: width 0.2s linear;
    margin-bottom: 10px;
}

#scoreBoard {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}